.cart-img {
  width: 80px;
  border-radius: 8%;
}

span.title {
  padding-left: 13px;
}
.quantity {
 padding: 0 !important;
}

.quantity span {
  width: 40px;
  height: 26px;
  border: 1px solid rgb(176, 181, 182);
  border-radius: 8%;
  outline: none;
  text-align: center;
  margin-right: 20px;
}

.quantityBtns button {
  color: rgb(0, 204, 255);
  font-weight: bold;
  cursor: pointer;
  background: none;
  border: 1px solid rgb(0, 204, 255);
  border-radius: 8%;
  width: 30px;
  height: 26px;
  outline: none;
  padding: 0px 7px;
  margin-right: 10px
}

.quantityBtns button:hover {
  background: rgb(0, 204, 255);
  border: rgb(0, 204, 255);
}


